header {
  display: grid;
  justify-items: center;
  gap: 2.75rem;
}

nav li {
  list-style: none;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

nav a {
  display: block;
  text-align: center;
  align-self: center;
  background: var(--cor-fundo2);
  padding: 1rem 2rem;
  border-radius: 4px;
  color: var(--cor-texto);
  text-transform: uppercase;
  border: 2px solid var(--cor-fundo2);
}

nav ul a:hover {
  border-color: var(--cor-primaria1);
}

@media (max-width: 1000px) {
  header {
    gap: 2rem;
  }
}